*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
#form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

#gallery-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}